#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

main#adminOnly {
  display: none;
}

h3.admin {
  margin: 1em;
}

.adminCard {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

input, select {
  background: linear-gradient(45deg, var(--darkGradPrimTrans), var(--darkGradSecTrans));
  text-align: center;
  font-size: 2rem;
  margin: clamp(10px, 1em, 20px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 50%;
  border-color: var(--lightGradPrim);
  color: rgb(173, 168, 168);
  font-family: var(--leagueSpartan);
}

.adminLogo {
  max-width: 20%;
}

.adminContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loginButton {
  margin: auto;
  width: fit-content;
}

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2CardParent:has(textarea) {
  width: clamp(600px, 3vw, 800px);
  margin: 2em;
  justify-content: space-between;
}

#incorrectID {
  color: rgb(172, 2, 2);
  display: none;
}

.webhookTitle {
  font-size: clamp(20px, 2vw, 45px);
}

textarea {
  min-width: clamp(12.5px, 2vw, 15px);
  font-size: clamp(12px, 2vw, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--leagueSpartan);
  padding: 0.2em;
}

.webhookList {
  font-size: clamp(10px, 1vw, 20px);
  color: rgb(173, 168, 168);
  text-decoration: underline;
}