/* Colors */
:root {
  --textColour: #5b575d;
  --darkGradPrim: #1e1e1e;
  --darkGradSec: #5b5a5a;
  --lightGradPrim: #7d7d7d;
  --lightGradSec: #b9b9b9;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html,
body {
  min-height: 100%;
}

main.homepage {
  scale: 1.4;
}
main {
  position: absolute;
  justify-self: center;
  margin-top: 10px;
}

aside {
  z-index: 1000;
}

body {
  background-image: url("/images/recolourfulCathedral.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  font-family:
    "League Spartan",
    "Comic Sans MS",
    sans-serif;
}

/* Base Components */
button,
aside {
  border-radius: 25px;
}

button {
  width: 100%;
  height: auto;

  margin: 10px;
  padding: clamp(5px, 2vw, 20px);

  cursor: pointer;

  border-style: outset;
  border-color: var(--darkGradPrim);

  background: linear-gradient(
    90deg,
    var(--lightGradPrim),
    var(--lightGradSec)
  );
}

/* Typography */
h1,
sub {
  text-align: center;
}

h1 {
  font-size: clamp(40px, 6vw, 70px);
  margin-top: 45px;
}

h2 {
  font-size: clamp(23px, 2vw, 30px);
}

h3,
sub {
  font-size: clamp(20px, 2vw, 30px);
}

h3 {
  margin: 2px;
  color: var(--darkGradPrim);
}

h4 {
  font-size: clamp(17px, 2vw, 23px);
  line-height: clamp(40px, 2vw, 70px);
}

h5 {
  font-size: clamp(12px, 5vw, 20px);
  line-height: clamp(30px, 4vw, 40px);
}

h4,
h5 {
  margin: auto;
}

sub {
  margin: 0;
}

h1,
h2,
h3,
h4,
sub {
  z-index: 1000;
}

a {
  text-decoration: none;
  font-size: 0;
}
a.img {
  margin: 0;
  padding: 0;
}
a.link {
  font-size: 1em;
}

i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: clamp(30px, 2vw, 45px);
}

p,
h2,
i {
  color: var(--textColour);
  font-family: "League Spartan", sans-serif;
}

p {
  font-size: clamp(12.5px, 2vw, 15px);
}

strong {
  font-weight: bold;
}

li {
  justify-content: center;
  align-items: center;
}

figcaption {
  font-size: 1rem;
  text-align: center;
}
/*
summary {
  display: list-item;
  list-style: disclosure-closed;
}
summary::marker {
  content: auto;
}
summary::before {
  content: "▶";
  display: inline-block;
  margin-right: 8px;
}
details[open] > summary::before {
  content: "▼";
}
*/