/* Colors */
:root {
  --textColour: rgb(91, 87, 93);
  --darkGradPrim: rgba(30, 30, 30);
  --darkGradSec: rgb(91, 90, 90);
  --lightGradPrim: rgb(125, 125, 125);
  --lightGradSec: rgb(185, 185, 185);

  --darkGradPrimTrans: rgba(30, 30, 30, 0.5);
  --darkGradSecTrans: rgb(91, 90, 90, 0.5);
  --lightGradPrimTrans: rgb(125, 125, 125, 0.5);
  --lightGradSecTrans: rgb(185, 185, 185, 0.5);
  --leagueSpartan:
    "League Spartan",
    "Comic Sans MS",
    sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html,
body {
  min-height: 100vh;
}

body {
  background-image: url("../images/recolourfulCathedral.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  font-family: var(--leagueSpartan);
}

/* Base Components */
button {
  border-radius: 25px;
  width: 100%;
  height: auto;

  margin: 10px;
  padding: clamp(5px, 2vw, 20px);

  cursor: pointer;

  border-style: outset;
  border-color: var(--darkGradPrim);

  background: linear-gradient(
    90deg,
    var(--lightGradPrim),
    var(--lightGradSec)
  );
}

nav {
  position: absolute;
  right: 10px;
  top: 26%;
  left: 1%;
  width: 200px;
}

/* Typography */
h1 {
  font-size: clamp(30px, 4vw, 80px);
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  text-wrap: balance;
}

h2 {
  font-size: clamp(23px, 2vw, 30px);
}

h3,
sub {
  font-size: clamp(20px, 2vw, 30px);
}

h3 {
  margin: 2px;
  color: var(--darkGradPrim);
}

h4 {
  font-size: clamp(17px, 2vw, 23px);
  line-height: clamp(40px, 2vw, 70px);
  text-wrap: balance;
}

h5 {
  font-size: clamp(12px, 5vw, 20px);
  line-height: clamp(30px, 4vw, 40px);
}

h4,
h5 {
  margin: auto;
}

i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: clamp(30px, 2vw, 45px);
}

p,
h2,
i {
  color: var(--textColour);
  font-family: var(--leagueSpartan);
}

p {
  font-size: clamp(12.5px, 2vw, 15px);
  text-wrap: balance;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
}

a {
  color: var(--textColour);
  text-decoration: none;
}