/* Text */
.gradient-text {
  background: linear-gradient(90deg, var(--lightGradPrim), var(--lightGradSec));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.hiddenText {
  display: none;
}

/* Cards */
.mainCardParent {
  font-size: 0;
}

.h2CardParent,
.playerCard {
  background: linear-gradient(135deg, var(--darkGradPrimTrans), var(--darkGradSecTrans));
}

.playerCard {
  border-color: var(--darkGradPrimTrans);
}

.buttonCard {
  background: linear-gradient(
    135deg,
    var(--lightGradPrim),
    var(--lightGradSec)
  );
}

.playerInfoCard {
  background: linear-gradient(135deg, var(--lightGradPrim), var(--lightGradSec));
}

.homeCard {
  backdrop-filter: blur(2px);
  background: linear-gradient(135deg, var(--darkGradPrimTrans), var(--darkGradSecTrans));
}

.navDivider {
  background: linear-gradient(-90deg, var(--darkGradPrimTrans), var(--darkGradSecTrans));
}

.h2CardParent {
  backdrop-filter: blur(2px);
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.sidebar h4 {
  color: var(--darkGradPrim);
  font-size: clamp(30px, 2vw, 50px);
}
.sidebar h4:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.mainNav {
  background: linear-gradient(135deg, var(--darkGradPrimTrans), var(--darkGradSecTrans));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Images */
.fa-bars {
  color: var(--darkGradPrim);
  font-size: clamp(50px, 2vw, 50px);
}

.sidebarIcon {
  color: var(--darkGradPrim);
}

.fa-rectangle-xmark {
  color: var(--darkGradPrim)
}