main {
  flex: 1;

  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  margin: auto;
}

.center {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.playerName {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar {
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  z-index: 10000;
  flex-direction: column;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
}
.sidebar li,
.sidebar a {
  width: 100%;
}
.sidebar h4 {
  color: var(--darkGradPrim);
  font-size: clamp(30px, 2vw, 50px);
}
.sidebar h4:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.mainNav {
  padding: clamp(10px, 2vw, 20px);
  background: linear-gradient(135deg, var(--darkGradPrim), var(--darkGradSec));
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(20vw, 45vw, 45vw);
  justify-content: center;
}

.mainCardH2 {
  display: flex;
}

.mainPlayersSection {
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}