@media (max-width: 800px) {
  .mainNav {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .h2Card,
  .mainCardH2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 40%;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  h3 {
    font-size: 22px;
  }
  select option {
    font-size: 50%
  }
}

@media (max-width: 450px) {
  .sidebar {
    width: 100vw;
    text-align: center;
    justify-content: space-evenly;
  }
  .sidebar li {
    border-bottom: solid 1px;
  }
  .navLink {
    color: black;
  }
  p {
    display: none;
  }
  .playerCardParent {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    width: 250px;
    height: 300px;
  }
  .playerCard {
    scroll-snap-align: center;
    flex-shrink: 0;
    height: 300px;
    width: 250px;
  }
  .playerCard:has(h1) {
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: clamp(13px, 2vw, 20px);
    width: 250px;
  }
  .playerCard h1 {
    margin: 0;
    font-size: clamp(1em, 2vw, 3em);
  }
  .hiddenText {
    display: flex;
    text-align: center;
    font-size: 3em;
    text-wrap: balance;
    padding: clamp(10px, 2vw, 20px)
  }
}

@media (max-width: 450px) {
  ::picker-icon {
    display: none;
  }
  select {
    text-decoration: underline;
  }
}