@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  h1 {
    font-size: 42px;
  }

  h3 {
    font-size: 22px;
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}