@media (max-width: 800px) {
  .mainNav {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .h2Card,
  .mainCardH2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 40%;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  h3 {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .sidebar {
    width: 100vw;
    text-align: center;
    justify-content: space-evenly;
  }
  .sidebar li {
    border-bottom: solid 1px;
  }
  .navLink {
    color: black;
  }
  p {
    display: none;
  }
}